# --- Admin credentials for Admin Login ---

ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin123
 
 GEMINI_API_KEY=your_gemini_api_key
GEMINI_MODEL_NAME=models/gemini-2.5-flash
ENABLE_AI_VERIFICATION=true
AI_VERIFICATION_THRESHOLD=70.0